.free {
  position: absolute;
  width: 18px;
  height: 18px;
  left: -9px;
  top: -9px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  font-size: 10;
  border: 3px solid green;
  color: '#3f51b5';
}

.busy {
  position: absolute;
  width: 18px;
  height: 18px;
  left: -9px;
  top: -9px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  font-size: 10;
  border: 3px solid #CCCC00;
  color: '#f44336';
}

.disconnected {
  position: absolute;
  width: 18px;
  height: 18px;
  left: -9px;
  top: -9px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  font-size: 10;
  border: 3px solid red;
}
