.map-marker {
  position: absolute;
  width: 18px;
  height: 18px;
  left: -9px;
  top: -9px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  font-size: 10;
  border-width: 3px;
  border-style: solid;

  &.free {
    border-color: green;
  }
  &.busy {
    border-color: #CCCC00;
  }
  &.disconnected {
    border-color: red;
  }
}
